/* Fuente de fontspace.com, sólo para uso personal */
@font-face {
  font-family: "Autography";
  src: url(../font/Autography.otf);
}
body {
  background: radial-gradient(#712424, #2c337b);
}
.principal {
  width: 1024px;
  height: 1024px;
  margin: auto;
  background-image: url("../img/Scene1.png");
  background-size:cover;
  position: relative;
  display: block;
}
.puertaE1 {
  /*background-color: aqua;*/
  height: 215px;
  width: 133px;
  position: absolute;
  top: 580px;
  left: 447px;
  display: block;
}
.puertaE1:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);
}
.puertaE2 {
  height: 265px;
  width: 105px;
  position: absolute;
  top: 384px;
  left: 460px;
  display: none;
}
.puertaE2:hover{
  border: 5px rgba(255, 255, 255, 0.089) solid;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);
}
.puertaizqE3 {
  height: 480px;
  width: 30px;
  position: absolute;
  top: 270px;
  left: 670px;
  display: none;
}
.puertaizqE3:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);

}
.puertadchaE3 {
  height: 448px;
  width: 30px;
  position: absolute;
  top: 280px;
  left: 320px;
  display: none;
}
.puertadchaE3:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);

}
.puertaRoja {
  height: 567px;
  width: 120px;
  position: absolute;
  top: 240px;
  left: 70px;
  display: none;
}
.puertaRoja:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(232, 229, 182, 0.163);
}
.puertaAzul {
  height: 561px;
  width: 116px;
  position: absolute;
  top: 250px;
  left: 826px;
  display: none;
}
.puertaAzul:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(232, 229, 182, 0.163);
}
.puertaE6 {
  height: 70px;
  width: 40px;
  position: absolute;
  display: none;
  top: 740px;
  left: 488px;
}
.puertaE6:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(201, 193, 84, 0.245);
}
.puertaE5 {
  height: 317px;
  width: 102px;
  position: absolute;
  top: 352px;
  left: 525px;
  display: none;
}
.puertaE5:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);
}
.puertaE7 {
  height: 330px;
  width: 220px;
  position: absolute;
  top: 400px;
  left: 400px;
  display: none;
}
.puertaE7:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);
}
.puertaE8 {
  height: 300px;
  width: 150px;
  position: absolute;
  top: 460px;
  left: 440px;
  display: none;
}
.puertaE8:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);
}
.puertaE9 {
  height: 400px;
  width: 182px;
  position: absolute;
  top: 176px;
  left: 495px;
  display: none;
}
.puertaE9:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  border-radius: 110px 90px 10px 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.127);
}
/*atras es la de la derecha*/
.puertaAtrasE9 {
  height: 490px;
  width: 250px;
  position: absolute;
  top: 160px;
  left: 740px;
  display: none;
} 
.puertaAtrasE9:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  border-radius: 110px 90px 10px 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.204);
}
.puertaE10 {
  background-color:cyan;
  height: 490px;
  width: 130px;
  position: absolute;
  top: 320px;
  left: 350px;
  display: none;
}
.puertaE10:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);
}
/*atras es la de la derecha*/
.puertaAtrasE10 {
  background-color:cyan;
  height: 490px;
  width: 150px;
  position: absolute;
  top: 320px;
  left: 550px;
  display: none;
}
.puertaAtrasE10:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);
}
.llaveE5{
  background-image: url(../img/Llave1.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  height: 33px;
  width: 31px;
  position: absolute;
  top: 233px;
  left: 890px;
  display: none;
}
.llaveE5:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);
}
.linternaE7{
  background-image: url(../img/LinternaUV.png);
  background-size: 40px 30px;
  background-repeat: no-repeat;
  height: 10px;
  width: 50px;
  position: absolute;
  top: 227px;
  left: 700px;
  display: none;
}
.linternaE7:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  height: 30px;
  width: 50px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);
}
.candadoE9 {
  background-color:rgb(255, 230, 0);
  height: 50px;
  width: 50px;
  position: absolute;
  top: 390px;
  left: 530px;
  display: none;
}
.candadoE9:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);
}
.candadoE9Big{
  background-color: rgb(255, 230, 0);
  height: 550px;
  width: 550px;
  position: absolute;
  top: 150px;
  left: 460px;
  display: block;
}
.dig1E9{
  width: 20px;
  position: absolute;
  top: 500px;
  left: 100px;
  display: none;
}
.dig2E9{
  width: 20px;
  position: absolute;
  top: 500px;
  left: 150px;
  display: none;
}
.dig3E9{
  width: 20px;
  position: absolute;
  top: 500px;
  left: 200px;
  display: none;
}
.dig4E9{
  width: 20px;
  position: absolute;
  top: 500px;
  left: 250px;
  display: none;
}
.enterE9{
  width: 20px;
  position: absolute;
  top: 500px;
  left: 300px;
  display: none;
}
.papelE9{
  background-color: gray;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 400px;
  left: 685px;
  display: none;
}
.papelE9:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);

}
.papelE9Big{
  background-color: gray;
  height: 550px;
  width: 550px;
  position: absolute;
  top: 150px;
  left: 460px;
  display: block;
}
.papelE9BigBL{
  font-family: "Autography";
  text-align: center;
  font-size: 70px;
  color: blue;
  background-color: gray;
  height: 550px;
  width: 550px;
  position: absolute;
  top: 150px;
  left: 460px;
  display: block;
}
.manoLinternaE9{
  background-image: url(../img/LinternaUV-EnMano.png);
  background-size: cover;
  height: 240px;
  width: 240px;
  position: absolute;
  top: 784px;
  display: none;
}
.back{
  background-color: rgb(255, 0, 0);
  height: 50px;
  width: 150px;
  position: absolute;
  top: 640px;
  left: 835px;
  display: none;
}
.back:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);

}
.back2{
  background-color: rgb(255, 0, 0);
  height: 50px;
  width: 150px;
  position: absolute;
  top: 640px;
  left: 835px;
  display: none;
}
.back2:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);
}
.candadoE10 {
  background-color:cyan;
  height: 960px;
  width: 760px;
  position: absolute;
  top: 29px;
  left: 140px;
  display: none;
}
.msg{
  background-color: white;
  height: 50px;
  width: 300px;
  position: absolute;
  top: 150px;
  left: 500px;
  display: none;
}
