body {
  background: radial-gradient(#712424, #2c337b);
}
.principal {
  width: 1024px;
  height: 1024px;
  margin: auto;
  background-image: url("../img/Scene1.png");
  background-size:cover;
  position: relative;
  display: block;
}
.puertaE1 {
  height: 215px;
  width: 133px;
  position: absolute;
  top: 580px;
  left: 447px;
  display: block;
}
.puertaE1:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);
}
.puertaE2 {
  height: 265px;
  width: 105px;
  position: absolute;
  top: 384px;
  left: 460px;
  display: none;
}
.puertaE2:hover{
  border: 5px rgba(255, 255, 255, 0.089) solid;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);
}
.puertaizqE3 {
  height: 470px;
  width: 35px;
  position: absolute;
  top: 280px;
  left: 670px;
  display: none;
}
.puertaizqE3:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);
}
.puertadchaE3 {
  height: 450px;
  width: 30px;
  position: absolute;
  top: 280px;
  left: 320px;
  display: none;
}
.puertadchaE3:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);

}
.puertaRoja {
  height: 500px;
  width: 100px;
  position: absolute;
  top: 290px;
  left: 75px;
  display: none;
}
.puertaRoja:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(232, 229, 182, 0.163);
}
.puertaAzul {
  height: 500px;
  width: 100px;
  position: absolute;
  top: 290px;
  left: 840px;
  display: none;
}
.puertaAzul:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(232, 229, 182, 0.163);
}
.puertaE6 {
  height: 65px;
  width: 42px;
  position: absolute;
  display: none;
  top: 742px;
  left: 488px;
}
.puertaE6:hover{
  cursor: pointer;
  background-color: rgba(63, 63, 63, 0.205);
}
.puertaE5 {
  height: 310px;
  width: 110px;
  position: absolute;
  top: 350px;
  left: 520px;
  display: none;
}
.puertaE5:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);
}
.puertaE7 {
  height: 340px;
  width: 215px;
  position: absolute;
  top: 400px;
  left: 400px;
  display: none;
}
.puertaE7:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);
}
.puertaE8 {
  height: 300px;
  width: 150px;
  position: absolute;
  top: 460px;
  left: 440px;
  display: none;
}
.puertaE8:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);
}
.puertaE9 {
  height: 400px;
  width: 200px;
  position: absolute;
  top: 160px;
  left: 480px;
  display: none;
}
.puertaE9:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  border-radius: 110px 90px 10px 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.127);
}
.puertaAtrasE9 {
  height: 490px;
  width: 250px;
  position: absolute;
  top: 160px;
  left: 740px;
  display: none;
} 
.puertaAtrasE9:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  border-radius: 110px 90px 10px 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.204);
}
.puertaE10 {
  height: 490px;
  width: 130px;
  position: absolute;
  top: 320px;
  left: 350px;
  display: none;
}
.puertaE10:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);
}
.puertaAtrasE10 {
  height: 490px;
  width: 150px;
  position: absolute;
  top: 320px;
  left: 550px;
  display: none;
}
.puertaAtrasE10:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);
}
.llaveE5{
  background-image: url(../img/Llave1.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  height: 33px;
  width: 31px;
  position: absolute;
  top: 233px;
  left: 890px;
  display: none;
}
.llaveE5:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);
}
.linternaE7{
  background-image: url(../img/LinternaUV.png);
  background-size: 40px 30px;
  background-repeat: no-repeat;
  height: 10px;
  width: 50px;
  position: absolute;
  top: 227px;
  left: 700px;
  display: none;
}
.linternaE7:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  height: 30px;
  width: 50px;
  cursor: pointer;
}
.candadoE9 {
  background-image: url("../img/CandadoCombinacion.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  position: absolute;
  top: 370px;
  left: 520px;
  display: none;
}
.candadoE9:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
}
.candadoE9Big{
  background-image: url("../img/CandadoCombinacion.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
  width: 551px;
  position: absolute;
  top: 150px;
  left: 460px;
  display: block;
}
.dig1E9{
  width: 29px;
  position: absolute;
  top: 490px;
  left: 657px;
  display: none;
}
.dig2E9{
  width: 29px;
  position: absolute;
  top: 490px;
  left: 713px;
  display: none;
}
.dig3E9{
  width: 29px;
  position: absolute;
  top: 490px;
  left: 771px;
  display: none;
}
.enterE9{
  width: 60px;
  position: absolute;
  top: 615px;
  left: 702px;
  display: none;
}
.papelE9{
  background-image: url("../img/Papel.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 400px;
  left: 685px;
  display: none;
}
.papelE9:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
}
.papelE9Big{
  background-image: url("../img/Papel.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
  width: 550px;
  position: absolute;
  top: 150px;
  left: 460px;
  display: block;
}
.papelE9BigBL{
  font-size: 70px;
  background-image: url("../img/PapelBL.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
  width: 550px;
  position: absolute;
  top: 150px;
  left: 460px;
  display: block;
}
.manoLinternaE9{
  background-image: url(../img/LinternaUV-EnMano.png);
  background-size: cover;
  height: 240px;
  width: 240px;
  position: absolute;
  top: 784px;
  display: none;
}
.back{
  background-color: rgb(255, 255, 255);
  text-align: center;
  height: 40px;
  width: 100px;
  position: absolute;
  top: 640px;
  left: 835px;
  display: none;
}
.back:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
}
.back2{
  background-color: rgb(255, 255, 255);
  text-align: center;
  height: 40px;
  width: 100px;
  position: absolute;
  top: 640px;
  left: 835px;
  display: none;
}
.back2:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
}
.back3{
  background-color: rgb(255, 255, 255);
  text-align: center;
  height: 40px;
  width: 100px;
  position: absolute;
  top: 810px;
  left: 590px;
  display: none;
}
.back3:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
}
.msg{
  background-color: white;
  text-align: center;
  height: 50px;
  width: 600px;
  position: absolute;
  top: 100px;
  left: 400px;
  display: none;
}
.candadoE10 {
  background-image: url("../img/CandadoColores.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  position: absolute;
  top: 650px;
  left: 375px;
  display: none;
}
.candadoE10:hover{
  border: 5px rgba(255, 255, 255, 0.062) solid;
  cursor: pointer;
}
.candadoE10Big{
  background-image: url("../img/CandadoColores.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 560px;
  width: 560px;
  position: absolute;
  top: 280px;
  left: 240px;
  display: block;
}
.dig1E10{
  width: 29px;
  position: absolute;
  top: 550px;
  left: 449px;
  display: none;
}
.dig2E10{
  width: 29px;
  position: absolute;
  top: 550px;
  left: 570px;
  display: none;
}
.dig3E10{
  width: 29px;
  position: absolute;
  top: 635px;
  left: 510px;
  display: none;
}
.dig4E10{
  width: 29px;
  position: absolute;
  top: 715px;
  left: 449px;
  display: none;
}
.dig5E10{
  width: 29px;
  position: absolute;
  top: 715px;
  left: 570px;
  display: none;
}
.enterE10{
  width: 60px;
  position: absolute;
  top: 810px;
  left: 500px;
  display: none;
}
.msgFin{
  background-color: white;
  border-style: solid;
  border-color: aqua;
  border-radius: 25px;
  text-align: center;
  position: absolute;
  width: auto;
  height: auto;
  top: 390px;
  left: 250px;
  display: none;
}
